name: CI

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build
        run: |
          xcodebuild clean build \
            -project LaterApp.xcodeproj \
            -scheme LaterApp \
            -destination 'platform=iOS Simulator,name=iPhone 15'