name: CI

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build (iOS Simulator)
        run: |
          xcodebuild \
            -project LaterApp/LaterApp.xcodeproj \
            -scheme LaterApp \
            -sdk iphonesimulator \
            -destination 'generic/platform=iOS Simulator' \
            clean build
