name: CI

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          xcodebuild clean build \
            -project LaterApp/LaterApp.xcodeproj \
            -scheme LaterApp \
            -destination "platform=iOS Simulator,name=Any iOS Simulator Device"